.herosection{
    width: 100%;
    height: auto;
    background: linear-gradient(to top, salmon, crimson);
    padding: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: opacity 0.5s ease; /* Ajout d'une transition de fondu */
    position: relative; /* Assurez-vous que .blackVoile est positionné par rapport à .herosection */
    z-index: 1;
}

.blackVoile {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%; /* Ajustez la largeur pour couvrir toute la section */
  height: 100%; /* Ajustez la hauteur pour couvrir toute la section */
  top: 0;
  left: 0;
  opacity: 0; /* Définissez l'opacité à 0 par défaut */
  transition: opacity 0.5s ease; /* Ajout d'une transition de fondu */
}

.herosection:hover .blackVoile {
  opacity: 1; /* Augmentez l'opacité lorsqu'on survole la section */
  z-index: -1;
}

.sectiontitle{
    color: white;
    text-align: justify center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    width: auto;
}

.description{
    color: white;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

.action_buttons{
    margin-top: 2rem;
}

.action_buttons #actionButton{
    padding: 10px;
    margin: 10px;
    padding-inline: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 1366px) {
    .herosection{
        width: 100%;
        background: linear-gradient(to top, salmon, crimson);
        padding: 2rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        transition: ease-in 355ms;
    }

    .sectiontitle{
        color: white;
        text-align: justify center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: 40px;
        width: auto;
    }

    .description{
        color: white;
        font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        font-size: 15px;
    }
}